/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import "tailwindcss";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "Poppins";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Poppins-Black.ttf");
}

@theme {
    --font-sans: "Poppins", system-ui, sans-serif;
}

body {
    font-family: var(--font-sans);
}

#nprogress .bar {
    background: oklch(85.2% 0.199 91.936) !important;
    height: 6px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

@import "swiper/css/bundle";

swiper-container::part(pagination) {
    bottom: 15px;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
    color: white;
}
